@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,300&display=swap');

body
{
    margin:0;
    padding: 0;
    font-family: 'Red Hat Display';
}

p
{
    font-size: 16px;
    font-weight: 700;
}

.great_frame
{
    background-color: #DFE6FB;
    max-width: 1470px;
    background-image: url('../images/pattern-background-desktop.svg');
    background-size: cover;
    margin: 0 auto;
    height:900px;
    
}

.frame_0{

    height:auto;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top:200px;
    border-radius: 4%;
    background: white;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.1);

}

.illustration_hero
{
    width: 100%;
    max-width: 100%;
    border-top-right-radius:21px;
    border-top-left-radius:20px;

}
/* small_frame begin */
.small_frame
{
    background-color: hsl(225, 100%, 98%);
    width:300px;
    margin: auto;
    border-radius: 15px;
    height: 100px;
    position: relative;
    bottom:20px;
}

.small_frame p
{
    margin-top:0;
    margin-bottom: 5px;
}

.icon_music_description
{
    position: relative;
    left:35px;
    top:22px;

}

#grey_writing
{

    color:grey;

}
.icon_music
{
    float: left;
    position: relative;
    top:22px;
    left: 15px;
}

h1
{

    text-align: center;
    font-weight: 900;

}

#change
{
    position: relative;
    left : 215px;
    bottom:20px;
}

.first_paragraph
{
    position: relative;
    top:-25px;
    text-align: center;
    font-weight: 500;
    color:rgba(128, 128, 128, 0.927);
    opacity: 0.8;
    padding: 5%;
}

/* small_frame end */

button
{
    padding-left:90px;
    padding-right: 90px;
    padding-top : 15px;
    padding-bottom: 15px;
    background-color: red;
    background-color:hsl(245, 75%, 52%);
    position: relative;
    top:10px;
    left:12%;
    border:none;
    border-radius: 15px;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Red Hat Display';
}

button a 
{
    text-decoration: none;
    color:white;
}

#order
{
    padding-bottom: 45px;
}

#order a
{
    position: relative;
    left:150px;
    color:grey;
    text-decoration: none;
}

#order a:visited
{
    color:grey;
}

@media all and (max-width:1024px){

    .frame_0
    {
        width: 340px;
        max-width: auto;
    }

        button
    {
        padding-left:50px;
        padding-right: 50px;
        padding-top : 15px;
        padding-bottom: 15px;
        background-color: red;
        background-color:hsl(245, 75%, 52%);
        position: relative;
        top:10px;
        left:17%;
        border:none;
        border-radius: 15px;
        box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        cursor: pointer;
        font-family: 'Red Hat Display';
    }

    

    .small_frame{
        height: auto;
        padding: 10px;
    }
    .icon_music{
        position: relative;
        top:10px;
    }

    .icon_music_description{
        position: relative;
        top:12px;
    }

    #change{
        position: relative;
        bottom:29px;
    }
    #order
    {
        padding-bottom: 30px;
    }

    #order a
    {
        position: relative;
        left: 120px;
    }


}
/* Coded by Jarinte */
.attribution 
{
 font-size: 20px; 
text-align: center;
margin-top: 265px;

}

.attribution a 
{
     color: hsl(228, 45%, 44%); 
    
}